* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* --------Navbar-------- */
nav {
    height: 40px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffff;
    padding: 8px 10px;
    transition: all 0.3s ease;

}

nav ul li a:hover,
nav ul li a.active {
    background-color: #ffff;
    color: #000;
    border-radius: 3px;
}

nav .hamburger-menu i {
    color: #ffff;
    display: none;
    font-size: 22px;
    cursor: pointer;
}




/* --------------------  Container 1 ------------ */
.container {
    width: 100%;
    height: 100vh;
    background-image: url(https://jolly-kalam-23776e.netlify.app/mytunes/img/showcase.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.container .content {
    text-align: center;
    color: #fff;
    margin-top: 20vh;
    font-size: 2rem;
}

.container .content .content1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

.container .content .content2 {
    margin-top: 3rem;
    font-size: 1.1rem;
}

.container .content .content3 {
    margin-top: 1rem;
    font-size: 16px;
}



/* ---------------Container2--------------------- */
.container2 {
    height: 100%;
    background-color: #252529;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container2 .content {
    color: #fff;
    text-align: center;
    padding-top: 8vh;
    font-size: 20px;
}

.container2 .content2 {
    margin-top: 5vh;
}

.container2 .content3 {
    margin-top: 5vh;
    font-size: 11px;
    font-weight: lighter;
}

.container2 .content4 {
    margin-top: 1vh;
    font-size: 11px;
    text-align: center;
}

.container2 .content5 {
    margin-top: 1vh;
    font-size: 11px;

}

.container2 .button {
    margin-top: 4vh;
    text-align: center;
}

.container2 .button input {
    height: 10vh;
    width: 24vh;
    background-color: #B90415;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.container2 .button input:hover {
    background-color: #B90409;
}

.container2 .content6 {
    margin-top: 6vh;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.container .img {
    max-width: 500px;
    margin: auto;
}

.container2 .img img {
    margin-top: 7vh;
    width: 100%;
    height: auto;
    display: block;
}





/* ------------Container3 ---------------- */
.container3 {
    height: 100%;
    width: 100%;
    background-color: #F4F4F4;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container3 .content {
    text-align: center;
    color: rgb(26, 31, 44);
    padding-top: 10vh;
}

.container3 .content1 {
    margin-top: 5vh;
    font-size: 16px;
    text-align: center;
    color: rgb(26, 31, 44);
}

.container3 .content1 h2 {
    margin-top: 1vh;
}

.container3 .content1 .head {
    margin-top: 1vh;
}

.container3 .button {
    margin-top: 4vh;
    text-align: center;
}

.container3 .button input {
    height: 10vh;
    width: 24vh;
    background-color: #143F85;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.container3 .button input:hover {
    background-color: #154896;
}

.container .image {
    max-width: 600px;
    margin: auto;
}

.container3 .image img {
    margin-top: 7vh;
    width: 100%;
    height: auto;
    display: block;
}

.container3 .home {
    margin-top: -105vh;
    width: 83%;
    margin-bottom: 22vh;
    height: 98vh;

}

/* -------Background Image tasks------------ */

.background-image {
    position: relative;
    width: 100%;
    padding: 10rem 0;
    background-image: url('https://jolly-kalam-23776e.netlify.app/mytunes/img/section-bg.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}

.responsive-text .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.responsive-text {
    color: white;
    text-align: center;
    padding: 20px;
}

.responsive-text p {
    font-size: 1.4rem;
    width: 90%;
}



/* ----------Gift card ------- */
.container-gift {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.gift-card {
    max-width: 100%;
    height: auto;
}

.container-gift .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 800px;
    padding: 20px;
}

.container-gift .content span a {
    text-decoration: none;
    color: #020d1e;

}




/* ---------- Small-container -------- */
.small-container {
    height: auto;
    width: 100%;
    background-color: rgb(41, 44, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.small-container ul {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.small-container ul li {
    color: #fff;
    list-style: none;
    font-size: 18px;
}

.small-container .Shop,
.small-container .Store,
.small-container .Other,
.small-container .About {
    text-align: center;
    flex: 1 1 200px;
    margin: 10px;
}

.small-container .Shop .music li,
.small-container .Store .orange li,
.small-container .Other .education li,
.small-container .About .room li {
    font-size: 15px;
    margin-top: 10px;
}

.small-container .Shop a,
.small-container .Store a,
.small-container .Other a,
.small-container .About a {
    text-decoration: none;
}

.small-container .Shop hr,
.small-container .Store hr,
.small-container .Other hr,
.small-container .About hr {
    margin-top: 10px;
}



/* ....................footer start here................. */
footer {
    height: 10vh;
    background-color: rgb(32, 33, 36);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

footer .content {
    color: #fff;
}




/* ...............Media query started here............*/
/* --------------- Responsive Navbar -------- */

@media (max-width: 940px) {
    nav ul {
        position: fixed;
        top: 40px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
    }

    nav ul li {
        margin: 40px 0px;
    }

    nav ul li a {
        font-size: 20px;
    }

    nav .hamburger-menu i {
        color: #ffff;
        display: block;
        font-size: 22px;
        cursor: pointer;

    }

    #click:checked~ul {
        left: 0;
        transition: all 1s ease;
    }

    #click:checked~.hamburger-menu i:before {
        content: "\f00d";
    }
}


/* -----Responsive background image------- */
@media (max-width: 768px) {
    .responsive-text {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    .responsive-text {
        font-size: 7vw;
    }
}


/* -------- Gift Card ------- */
@media (min-width: 768px) {
    .container-gift {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .gift-card {
        max-width: 50%;
    }

    .content {
        max-width: 50%;
    }
}




/* ------------Small Container ------- */
@media (max-width: 768px) {
    .small-container ul {
        gap: 1rem;
        flex-direction: column;
    }

    .small-container ul li {
        font-size: 16px;
    }

    .small-container .Shop .music li,
    .small-container .Store .orange li,
    .small-container .Other .education li,
    .small-container .About .room li {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .small-container ul {
        gap: 0.5rem;
    }

    .small-container ul li {
        font-size: 14px;
    }

    .small-container .Shop .music li,
    .small-container .Store .orange li,
    .small-container .Other .education li,
    .small-container .About .room li {
        font-size: 12px;
    }
}

/* ........media query ends......... */